<!-- Page wraper -->
<!-- ng-class with current state name give you the ability to extended customization your view -->

<div style='margin-bottom:20px'></div>

<div class="panel panel-default col-md-8 col-md-offset-2">

    <!-- Navigation -->
    <!-- <div ng-include="'app/layout2/navigation.html'"></div>     -->

    <!-- Main view  -->
    <div ui-view></div>

</div>

<!-- End page wrapper-->