<nav class="navbar-default navbar-static-side" role="navigation" style="background-color: #253848">

    <div class="sidebar-collapse">

        <ul side-navigation class="nav metismenu" id="side-menu">

            <li class="nav-header">
                <div class="profile-element" uib-dropdown>

                    <a ui-sref="app.home">
                        <span>
                            <img alt="Automate" class="img-responsive" src="assets/images/logo-navbar.png">
                        </span>
                    </a>

                </div>
            </li>

            <li ng-repeat="item in vm.menu">
                <a ui-sref="{{item.menuLink}}">
                    <i class="fa {{ item.menuCss }}"></i>
                    <span class="nav-label">{{ item.nome }}</span>
                </a>
            </li>

            <li ng-repeat="item in vm.menu2">
                <a ui-sref="{{item.menuLink}}">
                    <i class="fa {{ item.menuCss }}"></i>
                    <span class="nav-label">{{ item.nome }}</span>
                </a>
                <ul class="nav nav-second-level collapse" ui-sref-active="in">
                    <li ng-repeat="subItem in item.subMenu" ui-sref-active="active">
                        <a ui-sref="{{ subItem.menuLink }}">{{ subItem.nome }}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>


</nav>