<div class="row border-bottom">

    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar ng-click='vm.toggle()'></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <h3>Teste Admissional</h3>
            </li>
            <!-- <li>
                <a ui-sref="logout">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li> -->
            <!-- <li>
                <a ui-sref="About" ng-click="vm.info()">
                    <i class="fa fa-info-circle"></i>
                </a>
            </li> -->
        </ul>
    </nav>
</div>