<div class="table-responsive">
    <table class="table table-condensed table-hover footable p-xs">
        <thead>
            <tr>
                <th class="text-center" data-sort-ignore="true"></th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.items">
                <td>{{ item.id }}</td>
                <button title="Interrompe a execução" class="btn btn-danger btn-xs" ng-click="vm.interromperExecucao(item)" ng-disabled="!item.emExecucao">
                    <i class="fa fa-stop"></i>
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>