.pagination > li > a
{
    background-color: white;
    color: #aaa;
    width: 36px;
    text-align: center

}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #aaa;
    background-color: #fff;
    border-color: #aaa;
}

.pagination > .active > a
{
    color: white;
    background-color: @navy;
    border: solid 1px #aaa;
}

.pagination > .active > a:hover
{    
    color: white;
    background-color: @navy;
    border: solid 1px #aaa;
}