@lg: 1.5; 


 /* The mySwitch - the box around the slider */
 .mySwitch {
    position: relative;
    display: inline-block;
    width: 60px / @lg;
    height: 34px / @lg;
  }
  
  /* Hide default HTML checkbox */
  .mySwitch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px /@lg;
    width: 26px/@lg;
    left: 4px/@lg;
    bottom: 4px/@lg;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px/@lg);
    -ms-transform: translateX(26px/@lg);
    transform: translateX(26px/@lg);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 