/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.6
 *
*/

// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Variables, Mixins
@import "variables.less";
@import "mixins.less";

// INSPINIA Theme Elements
@import "typography.less";
@import "navigation.less";
@import "top_navigation.less";
@import "buttons.less";
@import "badgets_labels.less";
@import "elements.less";
@import "sidebar.less";
@import "base.less";
@import "pages.less";
@import "chat.less";
@import "metismenu.less";
@import "spinners.less";

// Media query style
@import "media.less";

// Custom style
// Your custom style to override base style
@import "custom.less";

// Clear layout on print mode
@media print {
  nav.navbar-static-side, .footer {
    display: none !important;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0 !important;
  }
}
