<div class="wrapper wrapper-content">

    <div class="panel panel-default">
        <div class="panel-body">

            <i ng-class='vm.icon' ng-click='vm.collapse()'></i>
            <h3>Cadastro de Produtos</h3><hr><br>

            <div ng-if='vm.hidden'>
                <p>A interface abaixo está totalmente funcional no Front-End. Porém, precisa da implementação do CRUD
                    no BackEnd:</p>
                <br>
                <p>Para isso, utilize as seguintes classes:</p>
                <ul>
                    <li>ProdutoController - corrigir alguns detalhes</li>
                    <li>ProdutoService - implementar todos os métodos</li>
                    <ul>
                        <li>Incluir um filtro de pesquisa por preço (Min | Max)</li>
                        Para isso é preciso codificar em ambos: backend e frontend
                    </ul>
                </ul>

                Não crie nenhuma classe adicional. Trabalhe apenas nas classes citadas.

                <br><br>
                <p>Nota: o repositório usa EntityFrameworkCore</p>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <button class="btn btn-primary pull-right" ui-sref='app.produto-item({id: 0})'>
                <i class="fa fa-plus"></i> Novo</button>

            <form name="myForm" class="form-horizontal">
                <div class="form-group">
                    <label for="inputType" class="col-sm-2 control-label">Pesquisar</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model='vm.nome' id="input" placeholder="Pesquisar"
                            autofocus>
                    </div>
                </div>
            </form>

            <hr>

            <div class="table-responsive">
                <table class="table table-condensed table-hover footable p-xs">
                    <thead>
                        <tr>
                            <th class="col-md-1">Id</th>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th class="col-md-1" data-sort-ignore='true'></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.items | filter:vm.nome">
                            <td>
                                <span>
                                    <a ui-sref="app.produto-item({id: item.id})" class="fa fa-search"></a>
                                </span>
                                <span style='margin-left:10px'>
                                    {{ item.id }}
                                </span>
                            </td>

                            <td>{{ item.nome }}</td>
                            <td>{{ item.preco }}</td>

                            <td>
                                <button class="btn btn-xs btn-danger pull-right" title='Remover item' ng-click="vm.remover(item)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>