<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-lg-1">
                <div class='form-group'>
                    <label>Id</label>
                    <span class="form-control input-sm">{{ vm.item.id }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class='form-group'>
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" class="form-control" ng-model="vm.item.nome" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class='form-group'>
                    <label for="preco">Preço</label>
                    <input type="text" id="preco" class="form-control" ng-model="vm.item.preco" />
                </div>
            </div>
        </div>
        <hr>
        <button class="btn btn-primary" ng-click='vm.salvar()'>
            <i class="fa fa-save"></i> Salvar</button>
    </div>
</div>