<div class="ibox">
    <div class="ibox-title" ng-hide="hidetitle">

        <div class='row'>
            <div class="col col-sm-4">

                <span ng-show="blocked == 'true'">
                    <i class="fa fa-ban" style='color:red'></i>
                </span>

                <span ng-show="loaded == 'false' && blocked == 'false'">
                    <i class="fa fa-spinner fa-spin"></i>...
                </span>

                <span ng-show="loaded == 'true' && blocked == 'false'">
                    <a ng-click="refreshClick()">
                        <i class="fa fa-refresh"></i>
                    </a>
                    {{count}} -
                </span>

                <span class="profile-element" style='display: inline-flex' uib-dropdown ng-if='menuItems'>
                    <a uib-dropdown-toggle="" href>
                        <span class="clear">
                            <span class="text-muted text-xs block">
                                {{ text }}
                                <b class="caret"></b>
                            </span>
                        </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li ng-repeat='item in menuItems'>
                            <a ng-click="itemMenuClick({item})">{{ item }}</a>
                        </li>
                    </ul>
                </span>

                <span ng-if='!menuItems'>
                    {{ text }}
                </span>

            </div>
            <div class="col col-sm-7">
                <a href=""></a>
                <paginacao index='{{pageIndex}}' ng-show='showPage && !isColapsed && pageCount > 0' total='pageCount' limite='{{limite}}' on-limit-changed='pagLimiteAlterado({limite})'
                    click='paginaClick({myname: 1, index})'></paginacao>
            </div>
            <div class="col col-sm-1">
                <div class="ibox-tools" uib-dropdown>
                    <a ng-click="showhide()" ng-hide="enablecollapse == 'false'">
                        <i id='chevron' class="fa fa-chevron-up"></i>
                    </a>
                    <a ng-click="fullscreen()" ng-show="enablefullscreen">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
        </div>
        <br>
        <div class="ibox-content" ng-transclude>
        </div>

        <div class="row">
            <div class="col col-sm-4"></div>
            <div class="col col-sm-7">
                <paginacao index='{{pageIndex}}' ng-show='showPage && !isColapsed && pageCount > 0' total='pageCount' limite='{{limite}}' on-limit-changed='pagLimiteAlterado({limite})'
                    click='paginaClick({myname: 1, index})'></paginacao>
            </div>
            <div class="col col-sm-1"></div>
        </div>


    </div>
</div>