<div class="row">
    <div class="col-lg-12 text-right">
        <span class="badge" ng-show='cds.ultimaAtualizacao'>Última atualização em {{ cds.ultimaAtualizacao|date:'dd/MM/yyyy HH:mm:ss'}}</span>
        <span class="badge">{{ cds.countdown }}</span>
        <hr>
    </div>
</div>