<nav aria-label="...">
    <ul class="pagination" style="margin: 0; padding: 0;">
        <li>
            <label for='digitaLimite'><i class="fa fa-list-ol" style="margin-left: 3px"></i></label>
            <input id='digitaLimite' type="text" style="margin-top: 3px; margin-left: 3px; border-color: gray;  width: 36px" ng-model="limite" ng-change="limiteAlterado({limite})" ng-model-options="{ debounce: 1400 }">
        </li>
        
        <li class="page-item">
            <a class="page-link" ng-click="goFirstPage()" tabindex="-1"><i class="fa fa-backward"></i></a>
        </li>

        <li ng-show='c.zzz * c.tp > 0'>
            <a class="page-link" ng-click="firstDotsClick()">...</a>
        </li>

        <li id='{{$index + 1 + c.zzz * c.tp}}' ng-show='$index < c.tp && ($index + 1 + c.zzz * c.tp) <= total' ng-class="{active: $index + 1 + c.zzz * c.tp === c.p }" ng-repeat="n in [].constructor(total) track by $index">
            <a class="page-link" ng-click="paginaClick({index:$index + 1 + c.zzz * c.tp})">{{$index + 1 + c.zzz * c.tp}}</a>
        </li>

        <li ng-show='total > c.tp && c.zzz < (total / c.tp) - 1'>
            <a class="page-link" ng-click="lastDotsClick()">...</a>
        </li>

        <li class="page-item">
            <a class="page-link" ng-click="goLastPage()" tabindex="-1"><i class="fa fa-forward"></i></a>
        </li>
    </ul>
</nav>

